server:
  port: 8080

spring:
  application:
    name: minecraft-k8s-manager
  
  datasource:
    url: jdbc:h2:file:./data/minecraft_manager
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

logging:
  level:
    com.minecraft.k8s: DEBUG

auth:
  token: 9f8e7d6c-5b4a-3f2e-1d0c-12345678dddd
launcher:
  token: 9f8e7d6c-5b4a-3f2e-1d0c-12345678dddd