server:
  port: 8080

spring:
  application:
    name: minecraft-k8s-manager
  
  datasource:
    url: ${DB_URL:jdbc:mysql://basic-tidb.tidb-cluster.svc.cluster.local:4000/gamesmanager?charset=utf8mb4&parseTime=true&serverTimezone=Asia/Shanghai&useSSL=false}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

logging:
  level:
    root: INFO
    com.minecraft.k8s: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

auth:
  token: ${AUTH_TOKEN:}
launcher:
  token: ${LAUNCHER_TOKEN:}

